@font-face {
    font-family: "Nunito";
    src: url(font/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: "Khula";
    src: url(font/Khula-Regular.ttf);
}

/*
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: red;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
*/

body {
    background-color: white;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover, contain;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    margin-bottom: 0,5em;
}

p, a {
    font-family: 'Khula' , sans-serif;
    line-height: 1.3em;
}

header {
    height: 112px;
    background-color: #00A51E;
    border-bottom: 1.5px solid #00A51E;
}

#header-logo {
    height: 50px;
    padding: 30px 0 0 14.6vw;
}

#intro {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 44.3vw;
}

#hero-container {
    margin: 3vw 0 0 16vw;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    position: relative;
    z-index: -3;
}

#hero-div {
    padding: 0 0 0 0;
    width: 80vw;
    height: 31vw;
    clip-path: polygon(0 0, 80% 0, 73% 100%, 0% 100%);
    border: 4px solid #006E3E;
    position: absolute;
    z-index: -1;
}

#hero {
    padding: 1vw 0 1vw 1vw;
    width: 60vw;
    clip-path: polygon(0 0, 55% 0, 45% 100%, 0% 100%);
    position: absolute;
    z-index: -2;
}

#store-buttons {
    grid-column-start: 2;
    padding: 30px 0 0 5%;
    display: grid;
    grid-template-columns: 14.6vw 11.7vw 23vw;
    grid-template-rows: 15.6vw 5.7vw 5.7vw;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    font-size: 3.5vw;
    padding: 5.8vw 0 0 0.9vw;
}

#google-play {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 100%;
}

#app-store {
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    padding: 0.9vw 0 0.9vw 0;
}

#main-call-to-action {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 0 0 0.9vw;
    padding: 1.4vw 0 0 0;
    background-color: #00A51E;
    border-radius: 0.8vw;
    font-size: 2.5vw;
    color: white;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 1024px) {

    header {
        height: 80px;
    }

    #header-logo {
        height: 40px;
        padding: 20px 0 0 14.6vw;
    }

    h1 {
        grid-column-end: 4;
        font-size: 28px;
        max-width: 70%;
    }

}

#features {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 60%;
    padding: 10.4vw 20% 15.6vw 20%;
}

#features div {
    justify-content: space-between;
    height: 24.5vw;
    width: 20.7vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.5);
}

#features div h3 {
    padding: 1.7vw 0 0 0;
    font-size: 2.3vw;
}

#features div img {
    padding: 2.8vw 0 0 0;
    height: 7.7vw;
    width: auto;
}

#features div p {
    padding: 2.8vw 12.5% 0 12.5%;
    width: 75%;
    font-size: 1.1vw;
}

@media (max-width: 1280px) {
  
    #features {
        width: 60%;
        padding: 10.4vw 20% 15.6vw 20%;
    }

    #features div {
        height: 27vw;
        width: 23vw;
    }
    
    #features div h3 {
        font-size: 30px;
    }
    
    #features div p {
        font-size: 16px;
    } 
}

@media (max-width: 1024px) {
  
    #features {
        width: 70%;
        padding: 9vw 15% 15.6vw 15%;
    }

    #features div {
        height: 29vw;
        width: 28vw;
    }
    
    #features div h3 {
        font-size: 30px;
    }
    
    #features div p {
        font-size: 14px;
    } 
}

@media (max-width: 767px) {
  
    #features {
        width: 70%;
        padding: 9vw 15% 15.6vw 15%;
    }

    #features div {
        height: 29vw;
        width: 28vw;
    }
    
    #features div h3 {
        font-size: 30px;
    }
    
    #features div p {
        font-size: 14px;
    } 
}

#about {
    padding: 5.2vw 0 19.3vw 0;
}

#about h2 {
    font-size: 3.2vw;
    padding: 0 0 1.6vw 15%;
}

#about p {
    font-size: 1.1vw;
    max-width: 50%;
    padding: 0 0 0 15%;
}

@media (max-width: 1280px) {
    
    #about h2 {
        font-size: 42px;
        padding: 0 0 1.6vw 15%;
    }
    
    #about p {
        font-size: 16px;
        max-width: 60%;
    }
}

@media (max-width: 1024px) {
    
    #about h2 {
        font-size: 36px;
        padding: 0 0 1.6vw 15%;
    }
    
    #about p {
        font-size: 16px;
        max-width: 60%;
    }
}

footer {
    height: 200px;
    color: white;
    background-color: #00A51E;
}

footer a {
    margin: 0 0 0 15%;
    line-height: 125px;
    padding: 40px 0 0 0;
    text-decoration: none;
    color: white;
}

footer div {
    height: 75px;
    line-height: 75px;
    padding: 0 0 0 15%;
    background-color: #006E3E;
}